[submodule "pynq/lib/_pynq/embeddedsw"]
	path = pynq/lib/_pynq/embeddedsw
	url = https://github.com/Xilinx/embeddedsw.git
[submodule "sdbuild/packages/matipo/system"]
	path = sdbuild/packages/matipo/system
	url = git@github.com:Resonint/matipo-system.git
